{% extends 'base.html' %}


{% block content %}

    {% if prediction > 0.60  %}
    
        <div class="container-fluid">

            <div>
                <div class="album py-5 bg-light">
                    <div class="container">
        
                        <div class="container-fluid" style="min-height: 500px;">
                            <br><h1>Félicitations !</h1><br><br>
                            <p>
                                Vous respectez toutes les conditions pour participer à notre programme de parrainage SBA.
                            </p><br>
                        </div>

                    </div>
                <div>        
            </div>
        </div>

    {% else %}

        <div class="container-fluid">

            <div>
                <div class="album py-5 bg-light">
                    <div class="container">
        
                        <div class="container-fluid" style="min-height: 500px;">
                            <br><h1>Nous sommes désolés !</h1><br><br>
                            <p>
                                Malheureusement d'après les informations que vous nous avez fournis sur votre entreprise, vous ne respectez pas les conditions nécessaires pour participer à notre programme de parrainage SBA.
                            </p><br>
                        </div>

                    </div>
                <div>        
            </div>
        </div>
    {% endif %}

{% endblock content %}